:host {
  display: contents;
}

.plan-item {
  background: #2d3035;
  padding: 40px;
  text-align: center;
  margin-bottom: 20px;

  .plan-price {
    font-size: 60px;
    font-weight: bold;
  }
}

.payment {
  &-btn {
    font-size: 23px;
    width: 50%;
    margin-bottom: 20px;
    white-space: normal;
    > span {
      float: right;
    }
    &.plans {
      text-align: initial;
    }
  }

  &-header {
    background: none;
    font-size: 0.5em;
  }

  &-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: auto;
    padding: 40% 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.4);
    color: white;
  }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .payment-btn {
    width: 95% !important;
  }
}
