:host {
  display: contents;
}
.plan-item {
  background: #2d3035;
  padding: 40px;
  text-align: center;
  margin-bottom: 20px;

  .plan-price {
    font-size: 60px;
    font-weight: bold;
  }
}
.error-list li {
  color: #db5e58;
}
