@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.error-list li {
  color: #db5e58;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

.mb-10 {
  margin-bottom: 10px;
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}

:host {
  display: contents;
}

.login-page {
  display: contents;
}

.input-material {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: #8a8d93;
    -webkit-box-shadow: 0 0 0px 1000px #fff0 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.ng-invalid:not(form) {
  border-bottom-color: #dc6d7c;
  border-left: 0px !important;
}

@media screen and (max-width: 520px) and (min-width: 320px) {
  .note-spam {
    height: 80% !important;
  }
}

.note-wrap {
  background: #000 !important;
}
